.carousel {
    /* height: 700px; */
    width: 100%;
}

.carousel img{
    width: 100%;
    max-height: 700px;
    object-fit: cover;
    object-position: 50% 50%;
}

.carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon{
    width: 50px;
    height: 50px;
    padding: 10px;
}