.card-tend{
    border: 1px solid rgb(184, 180, 180);
}

.card-img-tend{
    /* display: inline-flex; */
}

.tend-card-img{
    max-width: 300px;
    height: auto;
}

.card-title{
    text-decoration: none;
}
.card-title:hover{
    text-decoration: none;
    color: #1976D2;
}