*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Montserrat', Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', Arial;
}

.ptb{
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-title {
  text-align: center;
}

.main-title h1{
  font-weight: 700;
}

.main-title p{
  margin: 10px auto;
  margin-bottom: 50px;
  max-width: 600px;
  color: #757171;
}

@media (max-width: 767px) {
  .main-title p{
    margin: 10px auto;
    margin-bottom: 30px;
  }
}

.container-fluid{
  max-width: 1440px;
  /* padding: 0; */
}

/* navbar */

.iBrZNt a{
  font-weight: 500;
}

.iBrZNt a, .navbar-nav a{
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.iBrZNt a:hover, 
.navbar-nav a:hover, 
.navbar-nav #basic-nav-dropdown:hover,
.navbar-brand .css-f074gz-MuiSvgIcon-root:hover{
  transition: all 0.3s ease-in-out !important;
  color: black !important;
}

.navbar-nav{
  margin-left: auto;
}
.navbar-nav a{
  padding: 8px 8px !important;
  font-size: 15px !important;
}
