body{
    /* overflow-x: hidden; */
}

.table-responsive{
    /* min-height: .01%; */
    overflow-x: auto;
}
@media screen and (max-width: 767px) {
    .table-responsive {
        max-width: 350px;
        margin-bottom: 15px;
        overflow-y: hidden;
        overflow: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .table-responsive > .table {
        margin-bottom: 0;
    }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
        /* white-space: nowrap; */
        font-size: 13px;
    }
}

@media screen and (max-width: 451px) {
    body{
        overflow-x: hidden;
    }
    .text-section{
        padding-left: 0;
        padding-right: 0;
    }
    .table-responsive {
        max-width: 300px;
    }
    .rah-acc{
        margin: 0;
        font-size: 15px;
    }
    .rah-title{
        font-size: 20px;
    }
}